.flex {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
.end {
  justify-content: end;
}
.align-end {
  align-items: flex-end;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.self-center {
  align-self: center;
}
.flex-58 {
  flex: 0 1 58%;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-38 {
  flex: 0 1 38%;
}
.flex-32 {
  flex: 0 1 32%;
}
.flex-28 {
  flex: 0 1 26%;
}
.flex-22 {
  flex: 0 1 22%;
}
.flex-10 {
  flex: 0 1 10%;
}
