*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background-color: $primary-bg;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.project-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

/* btn  */
.btn {
  height: 45px;
  width: 140px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
}

/* a */
a {
  text-decoration: none;
}

/* text  */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
h2 {
  font-size: 2.3rem;
  font-weight: 900;
}
h3 {
  font-size: 2rem;
  // font-weight: 00;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}
h6 {
  font-size: 0.9rem;
}
.text-center {
  text-align: center;
}
.font-0 {
  font-size: 0;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/* position  */
.relative {
  position: relative;
}

// active
.active {
  background: #ea5f60;
}
// backgroiund
.bg {
  background: #f8f9fa;
}
// margin and padding
.margin-0 {
  margin: 0;
}
.padding {
  padding: 6rem 0;
}
.mt-4 {
  margin-top: 2rem;
}
.ml-30 {
  margin-left: 30px;
}
.ml-n-30{
  margin-left: -30px;
}
// image
.full-width {
  width: 100%;
}
// boder
.border-b {
  border-bottom: 1px solid;
}
